<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <li>
                <a href="index.html">Nuestro Proyecto</a>
            </li>
        </ul>
            <ul>
            <ul>
                <li><a href="#">Inicio</li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Proyectos</a></li>
                <li><a href="#">Equipos</a></li>
                <li><a href="#">Notiias</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Innovando para el bien común</h1>
        </section>
    </main>
</body>
</html>